/* Import Bootstrap SCSS */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Customize the spacing scale
$spacers: (
    0: 0,
    1: 5px,
    2: 10px,
    3: 15px,
    4: 20px,
    5: 40px,
);

@import 'bootstrap/scss/bootstrap';

$primary: #191D20;
$secondary: #202427;
$body-bg: #000;
$body-color: #111;

body {
    background-color: $body-bg;
}

footer {
    background-color: $primary;
}

.btn-primary {
    position: relative;
    display: inline-block;
    border-radius: 1.25rem; // 20px converted to rem
    padding: 0.625rem 1.25rem; // 10px and 20px converted to rem
    background: transparent;
    border: 0.063rem solid #fff; // 1px converted to rem
    color: #fff;
    font-size: 1rem; // Base font size (16px)
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: #fff;
        color: #000;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0.313rem rgba(255, 255, 255, 0.6); // 5px converted to rem
    }
}

.bg-body-primary {
    background-color: $primary;
    height: 15vh; // Height based on viewport height for better responsiveness
}

.custom-navbar {
    background-color: $primary;
    padding: 1.25rem; // 20px converted to rem

    .navbar-brand {
        color: #fff;
        font-size: 1.5rem; // 24px converted to rem
        font-weight: bold;
        display: flex;
        align-items: center;

        .logo-icon {
            margin-right: 0.625rem; // 10px converted to rem
            font-size: 1.25rem; // 20px converted to rem
        }

        &:hover {
            color: #ccc;
        }
    }

    .nav-link {
        color: #ccc;
        font-size: 1.125rem; // 18px converted to rem
        font-weight: 500;
        margin-right: 1.25rem; // 20px converted to rem
        transition: color 0.3s ease;

        &:hover {
            color: #fff;
        }
    }

    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.3);
    }

    .navbar-collapse {
        justify-content: flex-end;
    }
}

.bills-page {
    background-color: $primary;
    color: #ffffff;
    border-radius: 20px;
  
    .table-search {
        background-color: transparent; // Darker background for search bar
        border: 1px solid #fff;
        border-radius: 20px;
    
        &::placeholder {
            color: #fff;
        }
    }
  
    .custom-table {
        border-color: transparent;

        th {
            background-color: transparent;
            color: #ffffff;
        }
        td {
            background-color: transparent;
            border-radius: 10px;
            color: #ffffff;
        }
        tr:hover {
            background-color: $secondary;
        }
    }

}
